extends ../layout 

block content
    h1= title

    include errors

    form(action="/books", method="post")
        include form
        input(type="submit", value="Create New Book")
        a(href="/books" class="button") Cancel
    

        
